streamlit==1.40.2
transformers==4.46.3
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
sentencepiece==0.2.0
safetensors==0.4.5
huggingface-hub==0.26.3
numpy
pandas
mlx-lm==0.18.2
langchain==0.3.13
